<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024671615556-35pbaqqvfapsak0uvsoshjvimjotoug3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024671615556-35pbaqqvfapsak0uvsoshjvimjotoug3</string>
	<key>API_KEY</key>
	<string>AIzaSyBLVEjkytI7cBAT0xouz5kwt8arnOffYzA</string>
	<key>GCM_SENDER_ID</key>
	<string>1024671615556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.womanista</string>
	<key>PROJECT_ID</key>
	<string>womanista-135a3</string>
	<key>STORAGE_BUCKET</key>
	<string>womanista-135a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024671615556:ios:4817215549ff338dd6ca11</string>
</dict>
</plist>